.mainwrapper{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 5rem 0;
        flex-wrap: wrap;
      }
      .full {
        width: 60%;
        height: 420;
        border-radius: 10px;
        box-shadow: 0px 7px 0px 0px #a77879;
        border: 1px solid #a77879;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
      }
      .but{
        width: 80%;
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
