
.home-box {
  background-color: #FFEEE4;
  width: 100%;
  display: flex;
  gap: 26px;
  flex-direction: column;
  border-radius: 12px;
  padding: 26px 0;
}

.home-box p {
  font-size: 36px;
  color: #D39FA0;
  font-weight: bolder;
}
.btn-box{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}
.home-box a, .home-box a:active, .home-box a:visited{
  text-decoration: none;
  text-decoration-style: none;
  font: 26px;
  padding: 12px 16px;
  background: #FFEEE4;
  border-radius: 12px;
  width: 50%;
  text-align: center;
  color: #D39FA0;
  font-weight: bolder;
  letter-spacing: 4px;
  text-transform: uppercase;
  transition: all 300ms;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.315);
}
.home-box a:hover{
  transform: scale(1.05);
  background: #a77879;
  color: #FFEEE4;
}

.start {
  width: 20%;
  height: auto;
  position: absolute;
  margin-top: -200px;
  margin-left: -100px;
  transform: translate(-50%, -50%);
}

.home-container {
  background-image: url(https://i.pinimg.com/564x/43/3a/2f/433a2ff2cb2e31ca9d2a15ea9b5d3314.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
